<a href="https://colab.research.google.com/github/JPSpinola/HolaMundo/blob/main/1_Extracci%C3%B3n_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importar librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Convertir en dataframe
df=pd.read_csv("file.csv")
df

In [40]:
#Imprimir las primeras filas o registros del Dataframe
df.head(5)

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

*FILTROS BASICOS PARA VARIABLES CUALITATIVAS*

In [ ]:
#Filtro por objeto
filtro1=df[df["Sexo"]=="Hombres"]
filtro1

In [ ]:
#Filtro por filas
#Filtro2= df.iloc[300:302, : ] #Filas consecutivas
filtro2=df.iloc[[1000, 2000, 3000], : ] #Filas no consecutivas #Izquierda de la coma filas y derecha columnas # : = Todas las columnas
filtro2

In [ ]:
#Filtro por columnas
#filtro3=df.iloc[ : , 4:6]
filtro3=df.iloc[: ,[1,4,5]] #Columnas no consecutivas
filtro3

In [ ]:
#Filtro por columnas y por filas
filtro_mix=df.iloc[ [10,20,50], 2:5] #Columnas de la 2 a la 4, el valor de la derecha no se toma en cuenta
filtro_mix # iloc cuando no tienes índice

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)
df

In [ ]:
#Paso 2: Aplicamos Filtro de filas vs columnas
filtro4=df.loc[["Puebla","Durango"],["Poblacion_ocupada_en_la_industria_manufacturera"]] # loc cuando tienes índice
filtro4

In [ ]:
#Filtro por cabecera
filtro5=df.head()
filtro5

FILTROS BÁSICOS PARA VARIABLES CUANTITATIVAS

In [ ]:
#Filtro por comparación
filtro6=df[df["Periodo"] > 2010]
filtro6

FILTROS BASICOS CON CONECTORES LOGICOS

In [ ]:
#FILTRO Y
filtro7=df[(df["Periodo"] == 2015) & (df["Sexo"] == "Hombres") & (df["Trimestre"] == 2)]
filtro7